notebook/train_experiments.ipynb
notebook/test.ipynb
data/test/
# these were just there to perform a test on the recommendation system based on a smaller set of data

data/spotify_clean.csv
data/lastfm_clean.csv

models/content_model/*.pkl
models/user_model/*.pkl
models/user_model/*.pth

data/lists/